* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h3 {
    text-align: center;
}
h3 {
    background-color: black;
    color: white;
    font-size: 0.9em;
    margin-bottom: 0px;
}
.news p {
    background-color: #cccccc;
    margin-top: 0px;
}
.news {
    width: 70%;
    margin: 50px auto;
}

a {
    text-decoration: none;
    color: blue;
}

.comments {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.comments h5 {
    background: #000;
    color: #ffff;
    padding: 10px;
}

.creation-date {
    margin-left: 10px;
}

.comments p {
    margin-bottom: 5px;
    background: rgb(230, 230, 230);
}

.error-container {
    text-align: center;
    margin-top: 20%;
}

.error-container h1 {
    font-size: 3em;
    color: #ff0000;
}

.error-container p {
    font-size: 1.5em;
    color: #333;
}
